---
import Layout from "../layouts/Page.astro";
import Webring from "../components/Webring.astro";
import HeaderLinks from "../components/HeaderLinks.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";

// Metadata
const title = "cutesite";
const cutename = "quiet🌸"
const description = "Hi, I am quiet!"
const url = "https://quiet69.github.io";

// Change in case of 🔥
const pronouns = "any pronouns";

// Calculates my age because I don't want to do it manually
const birthday = new Date("04/05/2000");
const favicon = new URL("/favicon.png", Astro.url);
const age = Math.abs(new Date(Date.now() - birthday.getTime()).getUTCFullYear() - 1970);
---

<Layout title={title} description={description} favicon={favicon} url={url}>
  <section class="container">
    <h1 id="name">{cutename}</h1>
    <span id="pronouns">({pronouns})</span>
    <div id="oneko" aria-hidden="true"></div>
    <HeaderLinks />

    <div id="about" class="has-padding">
      <p class="title">About me</p>
      <p>
        Hi! I am a CS graduate student! I have 2 years experience as an software developer where i created webapps with Angular, Python, dotnet and Node.js APIs. I have also worked with SQL and Oracle Databases.
      </p>

      <p>
      I am interested in everything tech. I love linux and virtualization (I use Arch with gpu pt to a windows vm :3). I am a big open-source/libre/FOSS enthusiast. I have been teaching myself Machine Learning and Artificial Intelligence. Expect to see some Neural Networks soon&trade;.
    </p>


      <p>I spend my freetime playing video games, watching anime/ reading manga or playing the guitar! I also love building custom keyboards (oh so expensive!) and drawing.</p>


      <p>I'm a nerd who has spent hours trying to get better at my hobbies. My dream guitar is a Les Paul Standard 50s in Heritage Cherry Sunburst or a cream white Stratocaster (Japanese please!).
        I have been looking into buying a vintage Greco or a Tokai Made in Japan guitar! </p>
      <p> As for custom keyboards, I have owned Bakenekos, FreeBird TKL and others. I really wanna own a Geon F1-8x or a TGR Jane someday (very creative, ik). I build all my keyboards with broken-in and lubed Cherry MX Blacks on either an aluminum or polycarb plate (bet no one expected this). I currently type on a CableCarDesigns Angel built with Creampaca frankenswitches on a polypropylene plate and it bangs! </p>

    </div>

    <Projects />
    <Webring />
  </section>

  <Footer />
</Layout>

<style lang="scss">
#oneko {
        content: "";
        display: inline-block;
        position: absolute;
        width: 32px;
        height: 32px;
        right: 2rem;
        top: 1.3rem;
        image-rendering: pixelated;
        /* https://raw.githubusercontent.com/adryd325/oneko.js/14bab15a755d0e35cd4ae19c931d96d306f99f42/oneko.gif */
        background-image: url("/webring/oneko.gif");
        animation: sleep 1s infinite;
        cursor: pointer;

        &:hover {
            animation: 2.5s 1 forwards wakeup;
        }

        @media (prefers-reduced-motion) {
            display: none;
        }
    }

    @media only screen and (max-width: 600px) {
        ul {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 1.5em;
        }

        nav {
            padding-bottom: 1.5em;
        }
    }

    @media only screen and (max-width: 375px) {
        #oneko {
            display: none;
        }
    }

    @keyframes sleep {
        0%,
        50% {
            background-position: -64px 0;
        }
        50.00001%,
        100% {
            background-position: -64px -32px;
        }
    }
    @keyframes wakeup {
        0%,
        20% {
            background-position: -160px 0;
        }
        20.00001%,
        40% {
            background-position: -192px 0;
        }
        40.00001%,
        60% {
            background-position: -224px 0;
        }
        60.00001%,
        80% {
            background-position: -96px -64px;
        }
        80.00001%,
        100% {
            background-position: -96px -96px;
        }
    }
</style>
